*{
  font-family: "helvetica neue";
}
.center{
  text-align: center;
}
body{
  background-color: whitesmoke;
}
h1{
  font-weight: 100;
  letter-spacing: 0.5em;
}
nav{
  font-weight: 50;
  letter-spacing: 0.05em;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: gray;
}
li{
  float: left;
  border-right: 1px solid white;
}
li:last-child{
  border-right: none;
}
li a{
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  text-align: center;
}
li a:hover:not(.portfolio){
  background-color: silver;
}
.portfolio{
  background-color: black;
}
